.header{
  display:flex;
  justify-content: space-between;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  align-items: center;
}
.logo{
  width:200px;
}
.nav-items >ul{
  display:flex ;
  list-style-type: none;
  font-size:20px;
  margin-left:20px;
  margin-right:20px;
}
.nav-items>ul>li{
  padding:10px;
  margin:10px;
}

  